[submodule "external_dependencies/symbolic-space-math-utils"]
	path = external_dependencies/symbolic-space-math-utils
	url = https://github.com/Fabian-Geyer/symbolic-space-math-utils.git
[submodule "external_dependencies/casos"]
	path = external_dependencies/casos
	url = https://github.com/iFR-ACSO/casos.git
